/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fefeff;
  background: #1d1c1f;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #fefeff;
}

a:hover {
  color: #999;
}

/* Font Styles */
p, td, .survey-member-name, caption {
  font-size: 0.85em;
  color: #fefeff;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4, th, button {
  /*margin: 1.414em 0 0.5em;*/
  font-weight: inherit;
  /*line-height: 1.2;*/
}

h1 {
  margin-top: 0;
  font-size: 2.998em;
}

h2 {
  font-size: 2.120em;
}

h3, th {
  font-size: 1.499em;
  color: #BCBCA9;
}

h4 {
  font-size: 1.060em;
}

#purchase {
  display: none;
}

/* Buttons and forms styling */
.button {
  font-size: 0.9em;
  padding: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #96731A;
  color: #fefeff;
}

.button,
input[type="text"],
input[type="email"],
textarea {
  border-radius: 5px;
  border: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
#albums:focus,
.button:focus,
a.social:focus {
    box-shadow: 0px 0px 5px 3px #FCF390;
    outline: none;
    border: 1px solid #96731A;
}

input[type="text"],
input[type="email"],
textarea,
#albums,
.button {
  transition: all .3s;
}

/* Section Styles */
.title-away {
  position: absolute;
  left: -2000px;
}

.main-nav {
  width: 100%;
  background: rgba(45, 43, 48, 0.8);
  min-height: 30px;
  padding: 25px 10px 20px;
  position: fixed;
  text-align: center;
}

.nav {
  display: block;
  /*justify-content: space-around;*/
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  letter-spacing: 5px;
}

.nav li {
  padding: 5px 10px 10px 10px;
  display: inline-block;
}

.nav a,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
#albums:focus,
.button:focus {
  transition: all .5s;
}

.nav a {
  font-weight: 600;
}

.nav a:hover {
  color: #fefeff;
  background: #781125;
  cursor: pointer;
}

li.name a:hover {
  background: rgba(0,0,0,0);
}

a.menu {
  background: #FCF390;
  color: #2d2b30;
}

header {
  position: relative;
  text-align: center;
  background: url('../img/concert02_no_text.jpg') no-repeat top center #f3f3f3;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px;
  z-index: -1;
}

h1.header-text,
h2.header-sub-text {
  position: relative;
  top: 76px;
  font-weight: 300;
}

h1.header-text {
  font-size: 2.1em;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333333;
  text-transform: uppercase;
}

h2.header-sub-text {
  font-size: 1.37em;
  margin: 0;
  color: #781328;
}

.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px;
}

.name {
  font-weight: 300;
}

header .name {
  font-size: 3em;
}

main {
  padding-top: 50px;
}

.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125
}

.card {
  margin: 30px 10px;
  /*padding: 20px 40px 40px;*/
  text-align: left;
  border-top: 4px solid #781125;
  clear: both;
}
.card:hover {
  border-color: #96731A;
}

.photo{
  display: block;
  width: 200px;
  height: 0%;
  margin: 0 auto;
  color: #fff;
}

.information{
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/
}

.heading{
  /*font-size: 2em;*/
  text-transform: uppercase;
  color: #C7B59F;
  margin-top: 4px;
}

.buy {
  background: #fcf390;
  color: #2d2b30;
  font-weight: 300;
}

/* Footer styles */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

/*a.twitter {
  background-image: url(../img/twitter-32.png);
}

a.youtube {
  background-image: url(../img/youtube-32.png);
}

a.spotify {
  background-image: url(../img/spotify-32.png);
}*/

a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.connect-with-us {
  display: none;
}

/* Styles for larger screens */
@media screen and  (min-width: 480px) {
  .card {
    margin: 30px;
  }
}

@media screen and (min-width: 768px) {
  p, td, .survey-member-name, caption {
    font-size: 1em;
  }

  h1 {
    font-size: 3.998em;
  }

  h2 {
    font-size: 2.827em;
  }

  h3, th {
    font-size: 1.999em;
  }

  h4 {
    font-size: 1.414em;
  }

  .flex {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
  }

  .button {
      font-size: 1em;
    padding: 7px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  header {
    min-height: 470px;
  }

  h1.header-text,
  h2.header-sub-text {
    font-weight: 600;
  }

  h1.header-text {
    font-size: 3.998em;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  h2.header-sub-text {
    font-size: 2.07em;
  }

  .card {
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px;
  }

  .photo{
    width: 30%;
    margin: 20px 30px;
  }

  .information{
    text-align: left;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}
