/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

label {
  display: block;
}

.survey-member-name,
.newsletter p,
button,
input[type="text"],
input[type="email"],
textarea,
select#albums {
  font-size: 0.85em;
}

h3 {
  font-size: 1.199em;
}

.survey-member-name {
  margin-left: 0px;
  margin-right: 9px;
  position: relative;
  bottom: 2px;
  display: inline-block;
}

select#albums,
input[type="text"],
input[type="email"] {
  height: 25px;
}

textarea {
  padding: 10px 5px 0px;
  line-height: 0.55em;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;
}

.survey-fieldset {
  margin-bottom: 25px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 2px #FCF390 solid;
  border-radius: 5px;
}

.survey-fieldset span {
    font-size: 0.85em;
    color: #fff;
    padding: 0 0px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 245px;
}

input[type="text"],
input[type="email"] {
    margin-left: 9px;
    padding-left: 5px;
}

button {
  border: none;
}

/* Styles for larger screens */
@media screen and  (min-width: 480px) {
  .survey-member-name {
    margin-left: 0px;
    bottom: 2px;
  }

  label {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .photo{
    width: 40%;
  }

  select#albums,
  input[type="text"],
  input[type="email"] {
    height: 35px;
  }

  .survey-member-name,
  .newsletter p,
  button,
  input[type="text"],
  input[type="email"],
  textarea,
  select#albums {
    font-size: 1.125em;
  }

  .survey-fieldset {
    width: 461px;
  }

  .survey-fieldset span {
    padding: 0 5px;
  }

  textarea {
    padding: 12px 5px 0px;
  }

  .survey-fieldset span {
    font-size: 1.125em;
  }
}
