/* Tour page styles */

pre {
  font-family: 'Open Sans', sans-serif;
}

.heading {
  display: inline-block;
  margin: 0;
}

.pick {
  width: 40px;
  height: 0%;
  padding: 10px;
}

/* Table styles */
pre {
  width: 360px;
  margin: 0 auto;
  border: 1px solid #fff;
}

#tour {
  width: 100%;
}

td, th {
  width: 120px;
}
